#footer a,.footerColumn{
    color: white;
}
 #footer{
    margin: 0px;
    background-color:#62533a;
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items: center;
    border:1px solid #0000;
    margin-top: 100px;
}
#footer .footerColumn{
    margin-bottom: 100px;
    width: 20%;
}
.footerColumn ul li a{
    text-decoration: none;
}
.footerColumn ul li{
    list-style: none;
    list-style-type: none;
}
#firstFooter {
    margin-top: 50px;
}

#contactUs{
    margin-bottom: 130px;
}